<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="myget-mddocs" value="https://www.myget.org/F/ap0llo-mddocs/api/v3/index.json" protocolVersion="3" />
    <add key="myget-changelog" value="https://www.myget.org/F/ap0llo-changelog/api/v3/index.json " protocolVersion="3" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="BuildInfrastructure" value="https://pkgs.dev.azure.com/ap0llo/OSS/_packaging/BuildInfrastructure/nuget/v3/index.json" />    
  </packageSources>
</configuration>
